/*
GSU fonts
Author: Josh Allen
Updated: 05/24/2021

this is similar enough to minion pro
*/

/* Add maven for code font (keep other xaringan defaults */
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body { font-family:'Crimson Text' serif; }

h1, h2, h3 {
  font-family: 'Roboto Condensed';
  font-weight: normal;
}

/*
h2, h3 {
  font-family: 'Roboto Condensed';
  font-weight: normal;
}
*/

.remark-code, .remark-inline-code { font-family: 'Inconsolata', monospace; }
.remark-code-line-highlighted     { background-color: #ffff88; }
